html{
    height: 100%;
}

body{
    background-image: url(../images/pink.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 227, 227);
    background-blend-mode: normal;
    text-align: center;
    font-family: "Kindegarten", sans-serif;
    height: 100%;
}

#title{
    margin-top: 100px;
    line-height: 10px;
}

#subtitle{
    opacity: 0.7;
    font-size: 18px;
    margin-bottom: 20px;
}

#calendarContainer{
    display: flex;
    justify-content: center;
}

#calendarDiv{
    background-color: white;
    border-radius: 10px 10px 20px 20px;
    margin: auto;
    align-content: center;
    text-align: center;
}

#calendarHeading{
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid black;
    padding: 0px 20px;
    font-size: 20px;
    background-color: pink;
    line-height: 0px;
}

#calendarContent{
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 0px 0px 20px 20px;
}

.days{
    display: flex;
}

.day{
    width: 30px;
    margin: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    /*background-color: pink;*/
}

.day:empty {
    pointer-events: none;
    background-color: transparent;
    border: none;
}

#resetButton {
    margin-top: 20px;
}
